<div class="ui secondary menu text-size-small" style="background-color: #91060b">
  <div class="ui menu padding-no margin-no border-none" style="background-color:transparent;">
    <div class="dropdown">
      {{#link-to 'about' class="item text-white bg-transparent"}}
        About <i class="chevron down icon" class="text-size-ten margin-left-ten dropbtn"></i>
      {{/link-to}}
        <div class="dropdown-content">
          <a href="#">About Us</a>
          <a href="#">From the Principal</a>
          <a href="#">Mission and Vision</a>
        </div>
    </div>
  </div>
  <div class="ui menu padding-no margin-no border-none" style="background-color:transparent;">
    <div class="dropdown">{{log isAdmissionRoute}}
      {{#link-to 'admission.details' class="item text-white"}}
        Admissions <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
      {{/link-to}}
        <div class="dropdown-content">
          {{#if isAdmissionRoute}}
            <a href="#documents">Documents</a>
            <a href="#timing">Session and School Timing</a>
            <a href="#passPercentage">Pass Percentage</a>
            <a href="">Co Curricular Activities</a>
            <a href="">Test and Examinations</a>
            <a href="">Parent Teachers Meet</a>
            <a href="">Annual Day</a>
            <a href="">Fee Structure</a>
          {{else}}
            {{#link-to "admission.details"}}Documents{{/link-to}}
            {{#link-to "admission.details"}}Session and School Timing{{/link-to}}
            {{#link-to "admission.details"}}Pass Percentage{{/link-to}}
            {{#link-to 'admission.details'}}
              Co Curricular Activities
            {{/link-to}}
            {{!-- <a href="{{href-to 'admission.details'}}#passPercentage" class="item text-white">Co Curricular Activities</a> --}}
            {{#link-to 'admission.details'}}Test and Examinations{{/link-to}}
            {{#link-to 'admission.details'}}Parent Teachers Meet{{/link-to}}
            {{#link-to 'admission.details'}}Annual Day{{/link-to}}
            {{#link-to 'admission.details'}}Fee Structure{{/link-to}}
          {{/if}}
        </div>
    </div>
  </div>
  {{#link-to 'campus-life.hostels' class="item text-white"}}
    Campus Life <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
  {{/link-to}}
  <a class="item text-white">
    Event Calendar <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
  </a>
  {{#link-to 'events' class="item text-white"}}
    News n Events <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
  {{/link-to}}
</div>
{{yield}}
