  <div class="ui secondary menu text-size-small" style="background-color: #91060b">
    {{#link-to 'about' class="item text-white"}}
      About <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
    {{/link-to}}
    <a class="item text-white">
      Academics <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
    </a>
    {{#link-to 'admission.details' class="active item text-white"}}
      Admissions <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
    {{/link-to}}
    <a class="item text-white">
      Campus Life <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
    </a>
    <a class="item text-white">
      Event Calendar <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
    </a>
    <a class="item text-white">
      News n Events <i class="chevron down icon" class="text-size-ten margin-left-ten"></i>
    </a>
  </div>
{{yield}}