<div class="ui segments border-none box-shadow-none">
  <div class="ui segment text-size-large text-weight-bold text-center">
    Why Sunrise Academy?
  </div>
  <div class="ui segment padding-bg-left">
    <div class="ui middle aligned list">
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        {{!-- <i class="arrow alternate circle right icon"></i> --}}
        <div class="content">
          <a class="header">Quality Education.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Major focus in extra co curricular activities.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Peace full environment.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Open atmosphere.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Smaller class room.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Reading corner on every flats.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Guest Lecture.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Martial Arts.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Full fledged Library & Laboratory.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Exposure visits.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Continuous evolution.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Parents waiting shed.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Secured children's future.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Quality</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Full attention on safety and security 24X7.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Balanced Diet.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Prompt Health Facility in emergency.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Easy approachable 24x7.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Guest room for parents.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">School play ground.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Transport facility.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Hostel facility.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Day care facility.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Modern teaching technique.</a>
        </div>
      </div>

      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Dance class.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Music class.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Well equipped computer room.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Inter school competition.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Availability of school canteen.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">All classrooms under CCTV surveillance.</a>
        </div>
      </div>
      <div class="item">
        <i class="arrow alternate circle right icon"></i>
        <div class="content">
          <a class="header">Future plan up to class XII.</a>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}