<div class="ui grid margin-no padding-no">
  <div class="row padding-no-top">
    <div class="sixteen wide column margin-no text-uppercase text-weight-bold">
      <h2>Admission</h2>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        A child can be admitted to the school every year in the month of January – February and child
        should be at least 3 years of age as on 31st January of the academic year for admission to
        nursery.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p id="documents" class="text-weight-bold">
        LIST OF DOCUMENTS TO BE SUBMITTED FOR ADMISSION
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <ul>
        <li>Birth certificate of the child</li>
        <li>Transfer certificate</li>
        <li>Aadhar card</li>
        <li>Admission form</li>
        <li>Result Card</li>
        <li>COI of Father</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p id="timing" class="text-weight-bold">
        ACADEMIC SESSION AND SCHOOL TIMING
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        The school’s academic session begins in the first week of February and ends in the 3rd week of December.
      </p>
      <p>
        The school starts in the morning at 9.15 am and gives over at 3:30 pm. Students of nursery and
        LKG are free at 1:30 pm and from class UKG and above at 3:30 pm.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p id="passPercentage" class="text-weight-bold">
        PASS PERCENTAGE
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        A candidate must obtain more than 40 % marks in each subject. Aggregate marks to pass every
        classes is 40 % in over and all examinations. If any child fails to sit in the examinations on the
        medical ground and intends to sit re – examination will be allowed only after producing proper
        medical certificate from registered medical officer.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p id="curricularActivities" class="text-weight-bold">
        CO CURRICULAR ACTIVITIES
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        We believe in overall growth of the child so do we equally encourage our students to take part in
        co curricular activities to keep themselves ahead in this fiercely competitive global economy.
        We do organize various co curricular activities like Dancing competition, Singing competition,
        Quiz competition, Debate competition etc. and we equally focus on Sports
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p id="examinations" class="text-weight-bold">
        TESTS AND EXAMINATIONS
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        In a whole academic session 4(four) unit tests will be conducted in the month of March, May,
        August, And October. After each test the test copies will be send to the guardian for the
        observation of the child and the signature. The two terminal examinations are held in the month
        of June and November. After each examination the result will be sent to the parents and they
        are suggested to go through the entries and send the next day duly signed.
      </p>
      <p>
        <span class="text-weight-medium">Note:</span> The result will be held up if the fees remain unpaid.
      </p>
    </div>
  </div>
</div>
{{yield}}