<p class="text-center text-size-medium">Upcomming Events</p>
<div class="ui segment box-shadow-none border-none padding-no">
  {{activity-column/event-list ellipsis=true model=model}}
  {{#if (gt model.length 8)}}
    <p class="text-right text-blue ">
      {{#link-to 'events.index'}}See more...{{/link-to}}
    </p>
  {{/if}}
</div>
{{yield}}