<div class="ui segment border-none box-shadow-none">
  <div class="ui three stackable cards">
    {{#each model as |image|}}
      <div class="card">
        <div class="image">
          <img src={{image.url}}>
        </div>
      </div>
    {{/each}}
    {{!-- <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/helen.jpg">
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/jenny.jpg">
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/veronika.jpg">
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/stevie.jpg">
      </div>
    </div>
    <div class="card">
      <div class="image">
        <img src="https://semantic-ui.com/images/avatar/large/steve.jpg">
      </div>
    </div> --}}
  </div>
</div>
<div class="ui segment">
  {{gallery/upload-image}}
</div>
{{outlet}}