<div class="ui centered grid margin-no padding-no">
  <div class="fourteen wide middle aligned column">
    <p class="text-justify">A hostel facility is available for both girls and boys nearby school. The principal assisted by the
hostel superintendent, matron look after the living condition, meals, studies and co curricular
activities of the children regularly, the effect is to foster and to develop atmosphere of love and
affection amongst children</p>
  </div>
  <div class="twelve wide column text-center text-uppercase text-black text-weight-bold">
    hostel time table
  </div>
  <div class="twelve wide column">
    <table class="ui celled table">
      <thead>
        <tr>
          <th>SR NO.</th>
          <th>Time</th>
          <th>Activities</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-label="serial">01</td>
          <td data-label="time" class="text-center text-uppercase">5:00 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">wake up bell</td>
        </tr>
        <tr>
          <td data-label="serial">02</td>
          <td data-label="time" class="text-center text-uppercase">5:00 a.m - 5:30 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">fresh up</td>
        </tr>
        <tr>
          <td data-label="serial">03</td>
          <td data-label="time" class="text-center text-uppercase">5:30 a.m - 6:00 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">yoga/morning prayer</td>
        </tr>
        <tr>
          <td data-label="serial">04</td>
          <td data-label="time" class="text-center text-uppercase">6:00 a.m - 6:15 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">own room cleaning</td>
        </tr>
        <tr>
          <td data-label="serial">05</td>
          <td data-label="time" class="text-center text-uppercase">6:15 a.m - 6:30 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">tea time</td>
        </tr>
        <tr>
          <td data-label="serial">06</td>
          <td data-label="time" class="text-center text-uppercase">6:30 a.m - 8:15 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">study time in designated area</td>
        </tr>
        <tr>
          <td data-label="serial">07</td>
          <td data-label="time" class="text-center text-uppercase">8:15 a.m - 8:45 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">breakfast</td>
        </tr>
        <tr>
          <td data-label="serial">08</td>
          <td data-label="time" class="text-center text-uppercase">8:45 a.m - 9:15 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">dress for school</td>
        </tr>
        <tr>
          <td data-label="serial">09</td>
          <td data-label="time" class="text-center text-uppercase">9:15 a.m - 12:30 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">school time</td>
        </tr>
        <tr>
          <td data-label="serial">10</td>
          <td data-label="time" class="text-center text-uppercase">12:30 a.m - 1:15 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">lunch time</td>
        </tr>
        <tr>
          <td data-label="serial">11</td>
          <td data-label="time" class="text-center text-uppercase">1:15 a.m - 3:30 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">school time</td>
        </tr>
        <tr>
          <td data-label="serial">12</td>
          <td data-label="time" class="text-center text-uppercase">3:30 a.m - 4:30 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">play time</td>
        </tr>
        <tr>
          <td data-label="serial">13</td>
          <td data-label="time" class="text-center text-uppercase">4:30 a.m - 4:45 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">tea time</td>
        </tr>
        <tr>
          <td data-label="serial">14</td>
          <td data-label="time" class="text-center text-uppercase">4:45 a.m - 7:00 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">study time/review with teachers</td>
        </tr>
        <tr>
          <td data-label="serial">15</td>
          <td data-label="time" class="text-center text-uppercase">7:30 a.m - 7:30 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">dinner</td>
        </tr>
        <tr>
          <td data-label="serial">16</td>
          <td data-label="time" class="text-center text-uppercase">7:30 a.m - 9:00 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">preparation</td>
        </tr>
        <tr>
          <td data-label="serial">17</td>
          <td data-label="time" class="text-center text-uppercase">9:15 a.m</td>
          <td data-label="activity" class="text-center text-uppercase">lights off</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
{{outlet}}