<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui vertical fluid tabular menu text-size-small">
      <a class="active item">
        About
      </a>
      <a class="item">
        Principal's Welcome
      </a>
      <a class="item">
        Facts and Figures
      </a>
      <a class="item">
        History
      </a>
      <a class="item">
        Awards and Affiliations
      </a>
      <a class="item">
        Employment Oppurtunities
      </a>
      <a class="item">
        Academics
      </a>
      <a class="item">
        Academics Overview
      </a>
      <a class="item">
        Graduate Program
      </a>
    </div>
  </div>
</div>
{{yield}}