<div class="ui grid margin-no">
  <div class="sixteen wide column padding-no-left padding-no-top">
    <div class="ui segments border-none box-shadow-none">
      <div class="ui inverted segment" style="background-color: #91060b">
        About
      </div>
      <div class="ui segment padding-no border-radius-none">
        <div class="ui vertical fluid tabular menu text-size-small">
          {{#link-to 'about.principals-welcome' class="item"}}
            Principal's Welcome
          {{/link-to}}
          <a class="item">
            Facts and Figures
          </a>
          <a class="item">
            History
          </a>
          <a class="item">
            Awards and Affiliations
          </a>
          <a class="item">
            Employment Oppurtunities
          </a>
          <a class="item">
            Academics
          </a>
          <a class="item">
            Academics Overview
          </a>
          <a class="item">
            Graduate Program
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{{yield}}