<div class="ui grid margin-no padding-no">
  <div class="row padding-no-top">
    <div class="sixteen wide column margin-no text-uppercase text-weight-bold">
      <h2>About the Academy</h2>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <img src="/images/IMG20190209133200.jpg" style="height: auto; width: 100%;">
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        &nbsp;&nbsp;<span class="text-weight-medium">SUNRISE ACADEMY</span> is established in the year 1993 at Duga,east Sikkim to impart education in effective way, it has been observed that there was need of an English School in the rural area because parents are bound to send their children outside Duga for better education which causes heavy expenses. In order to save such expenses and time to impart quality education in homely surrounding are <span class="text-weight-medium">SUNRISE ACADEMY</span> has to get birth and still we are going strong.
      </p>
    </div>
  </div>
</div>
{{outlet}}