<div class="ui grid margin-no padding-no">
  <div class="row padding-no-top">
    <div class="sixteen wide column margin-no text-uppercase text-weight-bold">
      <h2>Mission & Vision</h2>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p class="text-weight-bold">
        OUR MISSION
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        Our mission is to encourage students to become lifelong learners by developing intellectual
        curiosity and a thirst for discovery and achievements through a fully integrated curriculum to
        face a fiercely competitive knowledge and skill driven global economy.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p class="text-weight-bold">
        OUR VISION
      </p>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        We will be a school that meets the need of all students through the collaboration of students,
        parents and staffs and be a global learners and leaders, exceeding expectation.
      </p>
    </div>
  </div>
</div>
{{liquid-outlet}}