<div class="ui stackable grid margin-no padding-no">
  <div class="row padding-no-top">
    <div class="sixteen wide column margin-no text-uppercase text-weight-bold">
      <h2>From the Principal</h2>
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p class="text-weight-bold">
        There Is No Elevators To Success. You Need To Take the Stairs.
      </p>
    </div>
  </div>
  <div class="row">
    <div class="eight wide column">
      I am delighted to welcome you all to the Sunrise Academy. We have an amazing brand new purpose built building which provides our children with an excellent place to learn and grow to face a fiercely competitive
      knowledge and skill driven global economy. We encourage our children to observe the world around and to express themselves in a variety of ways. We are very much conscious of the fact that emotional stability plays a very significant role in the healthy
      growth of the child, so our curriculum is based on an open and interactive approach. Because educators also need to learn. 
    </div>
    <div class="eight wide column">
      <img src='/images/principal.jpg' style="height: auto; width: 100%;">
    </div>
  </div>
  <div class="row">
    <div class="sixteen wide column">
      <p>
        Unlearn and relearn to remain
        contemporary and fill the need gaps in
        learning, we constantly upgrade our staffs
        through periodic training programme. I
        believe that it is important for our parents
        and staffs to work together to share the
        responsibility for the student success, I
        welcome you to come and meet your child’s
        teacher to build a partnership to help your
        child grow and increase student
        achievement.
      </p>
      <p class="text-right text-weight-bold">D.B. Chhetri, Principal</p>
    </div>
  </div>
</div>
{{yield}}