<div class="eight wide column padding-no border-right-grey" style="max-height: 458px">
  <div class="ui segments border-none box-shadow-none">
    <div class="ui segment border-none">
      <p>Lorem ipsum dolor sit amet, consecttur adipiscing elit</p>
    </div>
    <div class="ui segment border-none">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="ui segment border-none">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
<div class="eight wide column padding-no" style="max-height: 458px">
  <div class="ui segments border-none box-shadow-none">
    <div class="ui segment border-none">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="ui segment border-none">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
    <div class="ui segment border-none">
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
    </div>
  </div>
</div>
{{yield}}