<div class="ui grid margin-no padding-no">
  <div class="three wide column padding-no">
    {{menus/left-column-menu menuItems=menuItems menuFor="Admissions" internalLinking=true}}
  </div>
  <div class="nine wide column">
    {{liquid-outlet}}
  </div>
  <div class="four wide column">
    {{activity-column/column}}
  </div>
</div>