<div class="ui container" style="height: 100%; min-height: calc(100% - 50px);">
  <div class="ui segments box-shadow-none border-none">
    <div class="ui segment border-none box-shadow-none padding-no-bottom">
      <div class="ui grid margin-no padding-no">
        <div class="one wide middle aligned column padding-no text-center">
          {{#link-to 'home'}}
            <img src="/images/logo.png" style="height:60px; width: 60px">
          {{/link-to}}
        </div>
        <div class="seven wide middle aligned column padding-no-left padding-vs-top">
          {{#link-to 'home'}}
            <h1>SUNRISE ACADAMY</h1>
          {{/link-to}}
        </div>
      </div>
    </div>
    <div class="ui segment border-none box-shadow-none padding-no-left padding-no-right padding-no-bottom">
      {{nav-bar}}
    </div>
  </div>
  <div class="ui segment margin-no padding-no border-none box-shadow-none">
    {{liquid-outlet}}
  </div>
</div>
<div class="ui segment border-none" style="bottom: 0; position: absolute; width: 100%; background: red; height: 50px;">
    <div class="ui grid margin-no">
      <div class="row text-right">
        <div class="sixteen wide column text-center">
          <i class="code icon" style="color: #42D6FA"></i>
          Developed By <span class="text-weight-bold" style="color: #42D6FA">Insomnia Always</span>
        </div>
      </div>
    </div>
  </div>