<div class="ui segments border-none box-shadow-none" style="height: calc(100vh - 223px); overflow-y: auto">
  <div class="ui segment">
    <div class="ui stackable centered grid margin-no">
        <div class="sixteen wide middle aligned column text-weight-bold text-center">
          CONTACT US
        </div>
        <div class="six wide middle aligned column text-center">
          <div class="ui stackable centered grid margin-no">
            <div class="row">
              <div class="ten wide column text-center margin-right-twenty">
                <i class="phone icon text-size-big"></i>
              </div>
            </div>
              <div class="fourteen wide column">
                <div class="ui grid form margin-no">
                  <div class="sixteen wide column field margin-no padding-sm-bottom padding-sm-top">
                    <label class="text-weight-normal">Director cum Principal</label>
                  </div>
                  <div class="eight wide column field margin-no padding-sm-bottom padding-sm-top">
                    <label class="text-weight-bol">D.B. Chettri</label>
                  </div>
                  <div class="eight wide column field margin-no padding-sm-bottom padding-sm-top">
                    <label class="text-weight-bol">: 9002169915</label>
                  </div>
                  <div class="sixteen wide column field margin-no padding-sm-bottom padding-sm-top">
                    <label class="text-weight-normal">Acadamy Co-ordinator</label>
                  </div>
                  <div class="eight wide column field margin-no padding-sm-bottom padding-sm-top">
                    <label class="text-weight-bol">Ramesh Chettri</label>
                  </div>
                  <div class="eight wide column field margin-no padding-sm-bottom padding-sm-top">
                    <label class="text-weight-bol">: 7602180965</label>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="six wide middle aligned column text-center">
          <div class="ui stackable centered grid margin-no">
              <div class="ten wide column text-center margin-right-twenty">
                <i class="envelope icon text-size-big"></i>
              </div>
              <div class="fourteen wide column">
                <div class="ui grid form margin-no">
                  <div class="five wide column field margin-no">
                    <label class="text-weight-bol">Mail to</label>
                  </div>
                  <div class="eleven wide column padding-vs-right padding-vs-left padding-sm-bottom padding-sm-top field margin-no">
                    <label class="text-weight-bol">: academysunrise1993@gmail.com</label>
                  </div>
                  <div class="five wide column field margin-no">
                    <label class="text-weight-bol">Location</label>
                  </div>
                  <div class="eleven wide column padding-vs-right padding-vs-left padding-sm-bottom padding-sm-top field margin-no">
                    <label class="text-weight-bol">: Duga, East Sikkim, Via Rangpo</label>
                  </div>
                  <div class="five wide column field margin-no">
                    <label class="text-weight-bol"></label>
                  </div>
                  <div class="eleven wide column padding-vs-right padding-vs-left padding-sm-bottom padding-sm-top field margin-no">
                    <label class="text-weight-bol"></label>
                  </div>
                  <div class="five wide column field margin-no">
                    <label class="text-weight-bol"></label>
                  </div>
                  <div class="eleven wide column padding-vs-right padding-vs-left padding-sm-bottom padding-sm-top field margin-no">
                    <label class="text-weight-bol"></label>
                  </div>
                </div>
              </div>
          </div>
      </div>
    </div>
  </div>
</div>
{{liquid-outlet}}