<div class="ui stackable grid margin-no padding-no">
  <div class="three wide column padding-no">
    {{menus/left-column-menu menuItems=menuItems menuFor="Events"}}
  </div>
  <div class="thirteen wide column">
    {{liquid-outlet}}
  </div>
</div>