<div class="ui stackable centered grid margin-no padding-no">
  <div class="sixteen wide middle aligned column text-center text-uppercase text-weight-bold text-size-medium">
    fee structure
  </div>
  <div class="fourteen wide column text-uppercase text-blue" style="color: #2B333E !important;">
    <i class="text-size-medium text-weight-bold ">admission fee(a) + security fee(b)</i>
  </div>
  <div class="fourteen wide column">
    Any new admission to the school will have to pay the Admission Fee and Security Fee, which is
    <span class="text-weight-bold">one time only.</span>
  </div>
  <div class="fourteen wide column">
    <span class="text-weight-bold">Nursery/LKG/UKG</span> = (A + B) = (500 + 1000) = <span class="text-weight-bold">Rs.1500</span>
  </div>
  <div class="fourteen wide column">
    <span class="text-weight-bold">Class I to V</span> = (A + B) = (700 + 1000) = <span class="text-weight-bold">Rs.1700</span>
  </div>
  <div class="fourteen wide column">
    <span class="text-weight-bold">Class VI to VIII</span> = (A + B) = (1000 + 1000) = <span class="text-weight-bold">Rs.2000</span>
  </div>
  <div class="fourteen wide column text-uppercase text-blue" style="color: #2B333E !important;">
    <i class="text-size-medium text-weight-bold ">monthly tution fee</i>
  </div>
  <div class="eleven wide middle aligned column">
    <table class="ui unstackable very basic table">
      <tbody>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">nursery</td>
          <td class="text-center">Rs.800</td>
          <td class="text-uppercase text-left text-weight-bold">class iv</td>
          <td class="text-center">Rs.900</td>
        </tr>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">lkg</td>
          <td class="text-center">Rs.800</td>
          <td class="text-uppercase text-left text-weight-bold">class v</td>
          <td class="text-center">Rs.900</td>
        </tr>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">ukg</td>
          <td class="text-center">Rs.800</td>
          <td class="text-uppercase text-left text-weight-bold">class vi</td>
          <td class="text-center">Rs.950</td>
        </tr>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">class i</td>
          <td class="text-center">Rs.850</td>
          <td class="text-uppercase text-left text-weight-bold">class vii</td>
          <td class="text-center">Rs.950</td>
        </tr>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">class ii</td>
          <td class="text-center">Rs.850</td>
          <td class="text-uppercase text-left text-weight-bold">class viii</td>
          <td class="text-center">Rs.950</td>
        </tr>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">class ii</td>
          <td class="text-center">Rs.850</td>
          <td class="text-uppercase text-left text-weight-bold">class viii</td>
          <td class="text-center">Rs.950</td>
        </tr>
        <tr>
          <td class="text-uppercase text-left text-weight-bold">class iii</td>
          <td class="text-center">Rs.850</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fourteen wide left aligned column text-weight-bold text-size-medium">
    <i class="hand point right icon text-size-medium" style="color: #ebba16;"></i><i style="color: #d7554e;">Monthly fees should be paid before 10th of every month.</i>
  </div>
  <div class="fourteen wide column text-uppercase text-size-medium text-weight-bold text-blue" style="color: #2B333E !important;">
    <i>yearly fees</i>
  </div>
  <div class="fourteen wide colum yearly-fees">
    <table class="ui unstackable compact celled table text-size-small text-center">
      <thead class="full-width">
        <tr>
        <th class="text-capitalize">class</th>
        <th class="text-capitalize">main - tenance</th>
        <th class="text-capitalize">develo - pement</th>
        <th class="text-capitalize">games /sports</th>
        <th class="text-capitalize">library</th>
        <th class="text-capitalize">computer</th>
        <th class="text-capitalize">art /craft</th>
        <th class="text-capitalize">water /electricity</th>
        <th class="text-capitalize">exami - nation</th>
        <th class="text-capitalize">free book</th>
        <th class="text-capitalize">diary /calendar</th>
        <th class="text-capitalize">first aid</th>
        <th class="text-capitalize">school function</th>
        </tr>
      </thead>
      <tbody>
        <tr class="text-center">
          <td data-label="Name">Nursery / LKG / UKG</td>
          <td data-label="Age">500</td>
          <td data-label="Job">800</td>
          <td data-label="Job">400</td>
          <td data-label="Job">200</td>
          <td data-label="Job"> - </td>
          <td data-label="Job">300</td>
          <td data-label="Job">500</td>
          <td data-label="Job">100</td>
          <td data-label="Job">200</td>
          <td data-label="Job">100</td>
          <td data-label="Job">700</td>
          <td data-label="Job"> - </td>
        </tr>
        <tr class="text-center">
          <td data-label="Name">Class I to V</td>
          <td data-label="Age">500</td>
          <td data-label="Job">800</td>
          <td data-label="Job">400</td>
          <td data-label="Job">200</td>
          <td data-label="Job">500</td>
          <td data-label="Job">200</td>
          <td data-label="Job">300</td>
          <td data-label="Job">500</td>
          <td data-label="Job">100</td>
          <td data-label="Job">200</td>
          <td data-label="Job">100</td>
          <td data-label="Job">700</td>
        </tr>
        <tr class="text-center">
          <td data-label="Name">Class VI to VIII</td>
          <td data-label="Age">500</td>
          <td data-label="Job">800</td>
          <td data-label="Job">400</td>
          <td data-label="Job">200</td>
          <td data-label="Job">1000</td>
          <td data-label="Job">200</td>
          <td data-label="Job">300</td>
          <td data-label="Job">500</td>
          <td data-label="Job">100</td>
          <td data-label="Job">200</td>
          <td data-label="Job">100</td>
          <td data-label="Job">700</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="fourteen wide left aligned column text-weight-bold text-size-medium">
    <i class="hand point right icon text-size-medium" style="color: #ebba16;"></i><i style="color: #d7554e;">Yearly fees should be paind by 15th March of every year.</i>
  </div>
  <div class="fourteen wide left aligned column text-weight-bold text-size-medium">
    <p class="margin-bottom-ten"><span class="text-uppercase text-weight-bold text-size-medium">note :</span> <span class="text-weight-bold">i) Fees for uniform, text books and copies needs to be paid additionally.</span></p>
    <p class="text-weight-bold" style="margin-left: 71px;">ii) This fee structure is valid for this current year only and maybe subject to changes in the subsequent year.</p>
  </div>
</div>
{{outlet}}
