<div class="ui segments border-none box-shadow-none">
  <div class="ui segment border-none box-shadow-none padding-no">
    <div class="ui centered stackable grid margin-no">
      <div class="row padding-no-top">
        <div class="twelve wide column padding-no">
          <div class="ui grid margin-no">
            <div class="row padding-no">
              <div class="sixteen wide column padding-no">
                {{#slick-slider autoplay=true arrows=false}}
                  <div class="box"> <img src="/images/IMG20190410054428.jpg" style="width:100%; height: auto"> </div>
                  <div class="box"> <img src="/images/IMG20190408084355.jpg" style="width:100%; height: auto"> </div>
                  <div class="box"> <img src="/images/IMG20190405093003.jpg" style="width:100%; height: auto"> </div>
                  <div class="box"> <img src="/images/IMG20190210154207.jpg" style="width:100%; height: auto"> </div>
                  <div class="box"> <img src="/images/IMG20190405092946.jpg" style="width:100%; height: auto"> </div>
                {{/slick-slider}}
              </div>
            </div>
            <div class="row">
              <div class="sixteen wide column">
                <div class="ui centered stackable grid margin-no">
                  <div class="row text-center text-weight-bold text-size-large">
                    <div class="sixteen wide column">
                      RECENT ACTIVITIES
                    </div>
                  </div>
                  <div class="row">
                    <div class="sixteen wide column">
                      {{events/activity-view class="ui centered stackable grid margin-no"}}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="four wide column" style="max-height: 919px">
          <p class="text-center text-size-medium text-weight-medium border-bottom padding-sm-bottom">Upcomming Events</p>
          {{activity-column/column}}
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached secondary segment border-none">
    <div class="ui centered grid margin-no">
      <div class="row">
        <div class="sixteen wide middle aligned column text-center">
          Developed by <span class="text-blue text-weight-medium">Insomnia Always</span>
        </div>
      </div>
    </div>
  </div>
</div>
{{liquid-outlet}}