<div class="ui segments border-none box-shadow-none">
  <div class="ui segment border-none box-shadow-none padding-no-top">
    {{#slick-slider autoplay=true arrows=false}}
      <div class="box"> <img src="/images/IMG20190410054428.jpg" style="width:1100px; height: 617px"> </div>
      <div class="box"> <img src="/images/IMG20190408084355.jpg" style="width:1100px; height: 617px"> </div>
      <div class="box"> <img src="/images/IMG20190405093003.jpg" style="width:1100px; height: 617px"> </div>
      <div class="box"> <img src="/images/IMG20190210154207.jpg" style="width:1100px; height: 617px"> </div>
      <div class="box"> <img src="/images/IMG20190405092946.jpg" style="width:1100px; height: 617px"> </div>
    {{/slick-slider}}
  </div>
  <div class="ui segment border-none box-shadow-none">
    <div class="ui centered grid margin-no">
      <div class="row">
        <div class="sixteen wide column">
          <h1>WELCOME TO SUNRISE</h1>
        </div>
      </div>
      <div class="row">
        <div class="five wide column">
          <div class="ui segments border-none box-shadow-none">
            <div class="ui segment">
              <img src="/images/thumbnail1.jpg" style="width:100%">
            </div>
            <div class="ui segment border-none box-shadow-none">
              <p><h3>Admission Requirements</h3></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui segments border-none box-shadow-none">
            <div class="ui segment">
              <img src="/images/thumbnail2.jpg" style="width:100%">
            </div>
            <div class="ui segment border-none box-shadow-none">
              <p><h3>Student Organizations</h3></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <div class="five wide column">
          <div class="ui segments border-none box-shadow-none">
            <div class="ui segment border-none box-shadow-none">
              <img src="/images/thumbnail3.jpg" style="width:100%">
            </div>
            <div class="ui segment border-none box-shadow-none">
              <p><h3>Alumni</h3></p>
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="sixteen wide column">
          <div class="ui centered grid margin-no">
            <div class="row text-center text-weight-bold text-size-large">
              RECENT ACTIVITIES
            </div>
            <div class="row">
              <div class="five wide column padding-no border-right-grey text-cente">
                <div class="ui segments border-none box-shadow-none">
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </div>
              </div>
              <div class="five wide column padding-no border-right-grey text-cente">
                <div class="ui segments border-none box-shadow-none">
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </div>
              </div>
              <div class="five wide column padding-no text-cente">
                <div class="ui segments border-none box-shadow-none">
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                  <div class="ui segment border-none">
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="ui bottom attached secondary segment border-none" style="height:200px">
    <div class="ui centered grid margin-no">
      <div class="row">
        <div class="five wide column text-center">dfdsfdsf</div>
        <div class="five wide column text-center">sadfasdfas</div>
        <div class="five wide column text-center">edfrerfe</div>
      </div>
    </div>
  </div>
</div>
{{outlet}}