  {{!-- <div class="ui segment margin-no padding-no border-none border-radius-none">
    <div class="ui grid margin-no padding-no">
      <div class="three wide column">
        {{about-column/about}}
      </div>
      <div class="nine wide column">
        {{main-container/body}}
      </div>
      <div class="four wide column">
        {{activity-column/column}}
      </div>
    </div>
  </div>
{{outlet}} --}}
