<div class="ui centered grid margin-no" style="height: calc(100vh - 209px)">
  <div class="sixteen wide middle aligned column text-center">
    <img src="/images/icons/Double Ring-1s-200px.svg" style="height: 70px">
  </div>
</div>