<div class="ui stackable grid margin-no padding-no">
  <div class="twelve wide column">
    {{why-sunrise}}
    {{liquid-outlet}}
  </div>
  <div class="four wide column">
    {{activity-column/column}}
  </div>
</div>